body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(219, 234, 254 );
}


.card {
  @apply hover:translate-y-1 hover:scale-105 hover:duration-300 shadow-lg hover:shadow-xl hover:cursor-pointer py-3 px-2 rounded-lg flex flex-col items-center
}

.card-item {
  @apply flex flex-col justify-center items-center
}
