body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(219, 234, 254 );
}


.card {
  @apply hover:translate-y-1 hover:scale-105 hover:duration-300 shadow-lg hover:shadow-xl hover:cursor-pointer py-3 px-2 rounded-lg flex flex-col items-center
}

.card-item {
  @apply flex flex-col justify-center items-center
}

.title-underline {
  @apply border-2 border-sky-600 mt-2 md:w-36 w-24 rounded-full
}

.title-container {
  @apply flex flex-col items-center justify-center pt-8 pb-4 md:text-3xl text-xl text-gray-800 font-semibold
}

.input {
  @apply p-3 bg-gray-100 rounded-lg w-full focus-within:border-sky-400 outline-none
}